@model IEnumerable<Proyecto_MVC.Models.Tb_pasajero>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento de pasajeros</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_pais.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_pais.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPasajero }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPasajero }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPasajero })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Volver", "Mantenimiento", "Home")
</div>