@model IEnumerable<Proyecto_MVC.Models.Tb_reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento de reservas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.F_Reserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Salida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Llegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_pasajero.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.F_Reserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Llegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_pasajero.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idReserva }) |
            @Html.ActionLink("Details", "Details", new { id=item.idReserva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idReserva })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Volver", "Mantenimiento", "Home")
</div>