@model IEnumerable<Proyecto_MVC.Models.Tb_departamento>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento de departamentos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.foto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.F_Registro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.F_Modificacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.estado)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id_departamento }) |
        @Html.ActionLink("Details", "Details", new { id = item.id_departamento }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id_departamento })
    </td>
</tr>
}

</table>
<div>
    @Html.ActionLink("Volver", "Mantenimiento", "Home")
</div>