@model IEnumerable<Proyecto_MVC.Models.Tb_avion>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento de aviones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_aerolinea.ruc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.capacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tb_aerolinea.ruc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAvion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAvion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAvion })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Volver", "Mantenimiento", "Home")
</div>