<!DOCTYPE html>

<html>

<body>
    <style>
        .container-table{
            margin-top: 80px;
        }

            .container-table h3 {
                font-size: 3rem;
                font-style: italic;
                line-height: 2rem;
                font-weight: bold;
                color: rgb(27, 0, 136);
                margin-bottom: 30px;
            }

        
    </style>




    <div class="row">
        <div class="container">
            <div class="row container-table">

                <div class="col-12">
                    <h3>LISTADO DE PASAJEROS</h3>
                </div>
                @using (Html.BeginForm("Buscar", "Pasajeroa"))

                {

                    <table cellpading="2" cellspacing="2" border="1" width="600">

                        <tr>

                            <th>Seleccione tipo de criterio</th>

                        </tr>

                        <tr>

                            <td>

                                <input type="radio" name="condicion" value="PorGenero" />

                                <span>Por Genero</span>

                            </td>

                            <td>

                                <input type="radio" name="condicion" value="PorPais" />

                                <span>Por País</span>

                            </td>

                            <td>

                                <input type="radio" name="condicion" value="PorDepartamento" />

                                <span>Por Departamento</span>

                            </td>
                            <td>

                                <input type="radio" name="condicion" value="Todas" checked="true" />

                                <span>Todas</span>

                            </td>

                        </tr>

                        <tr>

                            <td>

                                @Html.DropDownList("cboGenero", (IEnumerable<SelectListItem>)ViewBag.ListarGeneros)



                            </td>

                            <td>

                                @Html.DropDownList("cboPais", (IEnumerable<SelectListItem>)ViewBag.ListarPais)

                            </td>
                            <td>

                                @Html.DropDownList("cboDepartamento", (IEnumerable<SelectListItem>)ViewBag.ListarDepartamentos)

                            </td>

                            <td>

                                <input type="submit" name="Buscar" />

                            </td>


                        </tr>

                    </table>



                }

                <br />

                <br />


                <div class="col-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre de pasajeros</th>
                                <th scope="col">N° Documento</th>
                                <th scope="col">Pais</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Email</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var pasajero in ViewBag.ListarPasajeros)

                            {

                            <tr>

                                <th>@pasajero.NombreCompleto</th>

                                <th>@pasajero.NumeroDocumento</th>

                                <th>@pasajero.Pais</th>

                                <th>@pasajero.Departamento</th>

                                <th>@pasajero.Telefono</th>

                                <th>@pasajero.Email</th>



                            </tr>

                            }

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

    
</body>

</html>
